<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>all </title>
</head>
<body>

<div>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
              {% endif %}
            {{ message }}
        {% endfor %}
    {% endif%}
</div>

<form method="POST">

   {% csrf_token %}
  {{ recipe_form }}

  <input type="submit" value="Submit">
</form>


<form method="POST">
   {% csrf_token %}
  {{ ing_form }}
  <input type="submit" value="Submit">
</form>



<form method="POST">
   {% csrf_token %}
  {{ recipe_form }}
  <input type="submit" value="Submit">
</form>



</body>
</html>