{% extends "base.html" %}
{% load static %}

{% block title %} Recipe Home Page {% endblock %}

<nav class="navigate">
  {% block navigate %} {% if user.is_authenticated %}
  <h3 class="user-greeting">Welcome, {{ user.username }}</h3>
  {% elif not user.is_authenticated %}
  <h3 class="user-greeting">Welcome, hungry one</h3>
  {% endif %}

  <div class="user-tools">
     {% if messages %}
          {% for message in messages %}
          {% if message.tags %}
           {% endif %}
    <h5 class="message"> {{ message }} </h5>
            {% endfor %}
            {% endif %}
    {% if user.is_authenticated %}
    <a class="nav-menu" href="{% url 'user profile' user.username %}">
      Your profile
    </a>
    <a class="nav-menu" href="/logout/"> Log out </a>
    {% elif not user.is_authenticated %}
    <a class="nav-menu" href="/login/"> Log in </a>
    <a class="nav-menu" href="/register/"> Register </a>
    {% endif %}
  </div>
  {% endblock %}
</nav>

{% block middle-section %}
<div class="recipe-section">
  <div class="daily-recipe">
    <h3>Your daily recipe:</h3>
    <p><b> Title: </b> {{ recipe.recipe_title }}</p>
    <p>Dish type: {{ recipe.recipe.dish_type }}</p>
    <p>Cooking level: {{ recipe.cooking_level }}</p>
    <p>Servings {{ recipe.portion_qty }}</p>
    <p>Ingredients: {{ recipe.ingredients }}</p>
    <p>Directions: {{ recipe.directions }}</p>
    <p>Taste: {{ recipe.taste }}</p>
    <p>Author:
      <a class="" href="{% url 'user profile' recipe.recipe_author %}">
        {{ recipe.recipe_author}}</a>
    </p>
    <p>Published: {{ recipe.date_published|date:"F d, Y" }}</p>
    <p><img src="/media/{{ recipe.image }}/" /></p>

    <div class="add-recipe">
      <a href="/recipe form/"> Add my recipe </a>
    </div>
  </div>

  <div class="random-recipes">
    <h3>Try our random recipes</h3>
    <div class="recipe-preview">
      {% for recipe in recipes %}
      <p>Title: {{ recipe.recipe_title }}</p>
      <p>Ingredients: {{ recipe.ingredients_summary }}</p>
      <p>Directions: {{ recipe.description_summary }}</p>
      <p>Taste: {{ recipe.taste }}</p>
      <a href="/recipe/{{ recipe.id }}/"> Click for details </a>
      {% endfor %}
    </div>
  </div>


</div>
{% endblock %}

