@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');


* {   /*для всех элементов */
    margin:0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    /* background-image: url("spoons.png"); */
    background-color: olivedrab;

}

img {
    max-width: 100%;
    display: block; /*картинки становятся под друг другом*/
}


.content-container {

    background-color: burlywood;
    margin-left: 300px;
    margin-right: 300px;
    max-width: 1920;
    font-family: "Signika";

}

.recipe-header {
    background-color: brown;
    font-size: xx-large;
    text-align: center;

}

.navigate {

}

.user-greeting {
    color: navy;
}

.portfolio-info {
    display: flex;
    /* justify-content: flex-end; */
    gap: 30px;
    justify-content: right;
}



.recipes {
    background-color: pink;
    display: flex;



}

.daily-recipe {
    margin-left: 200px;
    background-color: greenyellow;

}

.random-recipes {
    background-color: aqua;

}

.one-five {
    background-color: green;
}


